<!DOCTYPE html>
<html>
<head>
    <title>Download Csv</title>
</head>
<body>
<div>
    <input id="txt_office_id" type="text" />
    <br>
    <input type="button" value="Download Csv" onclick="downloadCsv();" style="margin: 20px 0px;"/>
    <br>
    <label id="csv_url"></label>
</div>
</body>
<script>
    let officeUserId;
    function downloadCsv() {
        officeUserId = document.getElementById("txt_office_id").value;
        subscribe();
    }

    var csvEventSource;
    function subscribe() {
        if(csvEventSource == undefined || csvEventSource.readyState !== 1) {
            csvEventSource = new EventSource('http://localhost:8080/api/csv/register-client');
            csvEventSource.onmessage = function(e) {
                let notification = JSON.parse(e.data);
                console.log(notification);
            };

            csvEventSource.onopen = (e) => {
                console.log(csvEventSource.readyState);
                downloadFile();
            }
        } else {
            downloadFile();
        }
    }

    function downloadFile() {
        let downloadUrl = 'http://localhost:8080/api/csv/download?fileId=' + (new Date()).getTime();
        httpGet(downloadUrl);
    }

    function httpGet(theUrl) {
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
</script>
</html>